<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="container mt-5">

    <h1 class="text-center font-weight-bold mb-4">Contactează-ne</h1>

    <p class="text-center font-weight-bold">Aici ne poți contacta:</p>
    <ul class="list-unstyled text-center">
        <li><strong>Telefon/Fax:</strong> 0232555666</li>
        <li><strong>Email:</strong> cantinaasachi@universitate.ro</li>
        <li><strong>Program:</strong> Luni-Vineri 07:30 - 15:30</li>
    </ul>
    <form class="mt-4">
        <div class="form-group">
            <label for="nume" class="font-weight-bold">Nume:</label>
            <input type="text" class="form-control" id="nume" placeholder="Introdu numele tău">
        </div>

        <div class="form-group">
            <label for="telefon" class="font-weight-bold">Telefon:</label>
            <input type="tel" class="form-control" id="telefon"
                   placeholder="Introdu numărul tău de telefon"
                   pattern="[0-9]{10}" inputmode="numeric" minlength="10" maxlength="10" required>
            <small class="form-text text-muted">Introduceți un număr de telefon valid (10 cifre).</small>
        </div>

        <div class="form-group">
            <label for="email" class="font-weight-bold">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Introdu adresa ta de email">
        </div>

        <div class="form-group">
            <label for="mesaj" class="font-weight-bold">Mesaj:</label>
            <textarea class="form-control" id="mesaj" rows="5" placeholder="Scrie mesajul tău"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-paper-plane mr-2"></i> Trimite
        </button>
    </form>

    <div class="text-center mt-4">
        <a href="{% url 'prima_pagina' %}" class="btn btn-primary">Înapoi la Prima Pagină</a>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>
