<!-- cantina/templates/cantina/meniu_zilei.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meniul Zilei</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Meniul Zilei</h1>
    <ul>
        {% for produs in produse %}
        <li>{{ produs.denumire }} - {{ produs.pret }} lei</li>
        {% endfor %}
    </ul>
    <a href="{% url 'prima_pagina' %}">Înapoi la Prima Pagină</a>
</body>
</html>
